* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.app-layout {
  display: grid;
  grid-template-columns: 100px 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "teams channels header" "teams channels messages" "teams channels input";
  min-height: 100vh;
  text-align: center;
}
.teams {
  padding: 1.5rem 1rem;
  background-color: #333;
  color: white;
  grid-area: teams;
}
.channels {
  padding: 1.5rem 1rem;
  background-color: red;
  color: white;
  grid-area: channels;
}
.header {
  padding: 1.5rem 1rem;
  grid-area: header;
}
.messages {
  background-color: yellow;
  grid-area: messages;
}
.input {
  grid-area: input;
  background-color: grey;
  height: 40px;
  display: flex;
  padding: 2px;
}
.input input {
  width: 100%;
  border: 1px solid grey;
  outline: 1px solid grey;
  padding: 0 0.5rem;
}
